@{
    ViewData["Title"] = "Cấm truy cập";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Access Denied (403)</h1>
    <p>Bạn không có quyền truy cập tài nguyên này.</p>
    <p>Nếu bạn là Admin, vui lòng đăng xuất và đăng nhập lại bằng tài khoản Admin.</p>
    <a asp-controller="Home" asp-action="Index">Quay về Trang chủ</a>
</div>
