@model BusinessObject.FlightPrice
@{
    ViewData["Title"] = "Thiết lập Giá vé mới";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="FlightId" class="control-label">Chuyến bay</label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="SeatClassId" class="control-label">Hạng ghế</label>
                <select asp-for="SeatClassId" class="form-control" asp-items="ViewBag.SeatClassId"></select>
                <span asp-validation-for="SeatClassId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label">Giá (VNĐ)</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}